.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: 767px) {
    ion-card {
      width: 600px;
      margin: auto;
    }
  }
  ion-card {
    --background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: scroll;
  }
  .input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
  }
  .white {
    color: white;
  }
  
  .small {
    font-size: 13px;
    a {
      text-decoration: unset !important;
    }
  }
  .button-color {
    background-color: var(--ion-color-mytheme);
  }
  .logo {
    width: 1.25em !important;
  }
  .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-logo {
    height: 150px;
    width: 150px;
  }
  .Fang-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .bold {
    font-weight: bold;
  }
  .block {
    display: block;
    margin-left: 1em;

  }
  .transition {
    background: linear-gradient(to right, #dbaa08 14%, #c29416 96%);
  }
  .btn-color {
    color: #1558a5;
  }
  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }
  
  .block-bold{
    margin-left: 6em;
    text-align: center;
    display:flex;
  }