<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/settings"></ion-back-button>
      </ion-buttons>
       <ion-title>Change Password</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
    <div class="main">
      <ion-card no-margin>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="text" placeholder="Old Password" [(ngModel)]="oldPassword" class="input" padding-horizontal
                clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="password" placeholder="New Password" [(ngModel)]="newPassword" class="input" padding-horizontal
                clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" class="input"
                padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="updatePassword()" color="undefined" class="transition">
                <strong class="white"> Update Password</strong></ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="error" text-center>{{error}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  
  
  