<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Business Sheet
    </ion-title>
    <ion-buttons slot="start" class="button_style">
        <ion-button (click)="goToSubscriptionPage()">
          Subscriptions
        </ion-button>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon tappable routerLink="/new-item" name="add" slot="start"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Fang Finances</ion-card-subtitle>
        <ion-card-title>Monthly Budget Goal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-row>
              <ion-col>
                  <div>${{ IncomeTotal }}</div>
              </ion-col>
              <ion-col>
                  <div>Current Income</div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div>${{ ExpenseTotal }}</div>
              </ion-col>
              <ion-col>
                  <div>Current Expenses</div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div>${{ SubscriptionTotal }}</div>
              </ion-col>
              <ion-col>
                  <div> Current Subscriptions </div>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <div>${{ monthlyBudgetCap }} </div>
            </ion-col>
            <ion-col>
                <div>Monthly Budget Cap</div>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Income</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of IncomeItems">
          <ion-label>
            <h1 style="font-size: 12px">
              {{item.financeDate | date}}
            </h1>
            <h2 style="font-size: 16px">
              {{item.financeTitle}} ${{item.financeAmount}}
            </h2>
            <p>
              {{item.financeCategory}}
            </p>
          </ion-label>
        </ion-item>
    </ion-list>


    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Expenditures</ion-label>
        </ion-list-header>
         <ion-item *ngFor="let item of ExpenseItems">
          <ion-label>
            <h1 style="font-size: 12px">
              {{item.financeDate | date}}
            </h1>
            <h2 style="font-size: 16px">
              {{item.financeTitle}}  ${{item.financeAmount}}
            </h2>
            <p>
              {{item.financeCategory}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Fang Finances</ion-card-subtitle>
            <ion-card-title>PDF Report</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-button class="createButton" color="primary" (click)="createPdf()">Create PDF</ion-button>
              <ion-button class="pdfButton" color="secondary" (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</ion-button>
          </ion-card-content>
        </ion-card>    

</ion-content>
