<ion-header>
    <ion-toolbar color="primary">
       <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title> Subscription Tracker  </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
    <ion-list lines="none">
    
        <ion-list-header>
          Current Subscriptions
        </ion-list-header>
        
          <ion-item *ngFor="let item of SubscriptionItems">
            <ion-label>
                  <h1 style="font-size: 12px">
                    {{item.financeDate | date}}
                  </h1>
                  <h2 style="font-size: 16px">
                    {{item.financeTitle}} ${{item.financeAmount}}
                  </h2>
                  <p>
                    {{item.financeCategory}}
                  </p>
            </ion-label>
              <ion-icon slot="end" *ngIf="item.hasCompleted == 'false'" name="radio-button-off" (click)="hasCompletedChange(item.id)"></ion-icon>
              <ion-icon slot="end" *ngIf="item.hasCompleted == 'true'" name="checkmark-circle-outline" (click)="hasNotCompletedChange(item.id)"></ion-icon>
        </ion-item>
    
      </ion-list>

</ion-content>
