<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>
     Register Account  
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
    <div class="main">
      <ion-card no-margin>
        <ion-card-content>
          <ion-row class="row">
            <div class="Fang-logo">
              <img src="/assets/FangFinancesLogo.png" class="img-logo">
            </div>
          </ion-row>
      <form [formGroup]="registerForm">
          <ion-row>
            <ion-col>
              <ion-input clearInput type="email" placeholder="Email" formControlName="email" [(ngModel)]="email" class="input"
                padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="string" placeholder="Full Name" formControlName="fullName" [(ngModel)]="fullName" class="input"
                padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="number" placeholder="Monthly Budget Cap" formControlName="monthlyBudgetCap" [(ngModel)]="monthlyBudgetCap" class="input"
                padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="password" class="input"
                padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="password" placeholder="Confirm Password" formControlName="cpassword" [(ngModel)]="cpassword"
                class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          </form>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="register()" color="undefined" class="transition" [disabled]="!email || !fullName || !monthlyBudgetCap ||!password || !cpassword">
                <strong class="white">
                  Register</strong></ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="error" text-center>{{error}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text text-center class="block">Already have an account ?
                <span class="bold" routerLink="/login">Login here</span></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  
  